/* GLOBAL ELEMENTS 
--------------------------------------------*/

* {
	margin: 0 auto;
	/*border: 1px solid red;*/
}

html, body {
	margin: 0 auto;
	overflow-x: hidden;
	max-width: 100%;	
}


footer {
	width: 75%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: #eee;
	text-align: center;
}

section {
	display: block;
	margin-top: 2em;
	margin-bottom: 3em;
	width: 75%;
}

section h2 {
	margin-bottom: 1em;
}

h1 {
	text-align: center;
	font-size: 4em !important;
}


img {
	max-width: 100%;
}



/* FIXED ELEMENTS
--------------------------------------------*/

#top {
	top: 0;
}

#bottom {
	bottom: 0;
}

#top, #bottom {
	height: 1.5rem;
	position: fixed;
	left: 1.5rem;
	right: 1.5rem;
	display: block;
	background-color: #1e1e1e;
	z-index: 300;
}

#left {
	left: 0;
	bottom: 0;
	top: 0;
	width: 1.5rem;
	position: fixed;
	display: block;
	background-color: #1e1e1e;
	z-index: 300;
}

#right {
	right: 0;
	width: 1.5rem;
	position: fixed;
	top: 0;
	bottom: 0;
	display: block;
	background-color: #1e1e1e;
	z-index: 20;
}

/* HEADER + NAVIGATION
--------------------------------------------*/

header { 
	width: 100%;
	background-color: white;
}

nav, .logo {
	margin-top: 2.5rem;
	margin-bottom: -1.5rem;
}

nav { 
	display: block;
	float: right;	
	margin-right: 2.5em;
} 

a.navLink {
	margin-right: 2rem;
}

.logo {
	display: block;
	margin-left: 4em;
}


/* LANDING 
--------------------------------------------*/

.landing {
	margin: auto;
	margin-top: 1rem;
	height: 50%;
	width: 100%;
}

#bgIndex {
	background: url('imgs/koi-landing.jpg') no-repeat 50% 60%;
	background-size: cover;
}

#bgProject1 {
	background: url('imgs/daretostream-bg1.jpg') no-repeat 50% 40%;
	background-size: cover;
}

#bgProject2 {
	background: url('imgs/koi-landing.jpg') no-repeat 50% 60%;
	background-size: cover;
}

.content {
	padding: 17.5em;
	margin: 0 auto;
	text-align: center;
	margin-top: 3rem;
}

/* WORK (index.html)
--------------------------------------------*/
.projects-wrapper {
	margin-top: 5rem;
}

.project {
	border: 1px solid red; 
	margin-right: 0.5rem;
}

#center {
	text-align: center;
	text-transform: uppercase;
}

/* PROJECTS
--------------------------------------------*/

.project-description {
	line-height: 3.5rem;
	width: 75%;
	margin-left: 0;
	margin-bottom: 2em;
}

.meta-style {
	display: block;
	max-width: 50%;
	border: 1px solid #eee;
	padding: 1rem 0; 
	line-height: 2.5rem;
}


/* Media Queries
--------------------------------------------*/

/* ~1200px */
@media only screen and (max-width: 75em) {
	 .content { 
		padding: 10em;
	}	

	.logo {
		margin-left: 3.2rem;
	}

	nav {
		margin-right: 1rem;
	}

	.project-description {
		margin-left: 0;
		width: 83%;
	}
}

/* ~992px */
@media only screen and (max-width: 62em) {
	 .meta-style, .meta {
	 	max-width: 100%;
	 }
}

/* ~768px */
@media only screen and (max-width: 48em) {
	#top, #bottom, #right, #left {
		visibility: hidden;
	}

	footer {
		width: 90%;
	}

	section {
		width: 90%;
	}

	h1 {
		font-size: 3em !important;
	}

	nav {
		margin-right: 1.5rem;
	}

	a.navLink{
		margin-right: 0.7rem;
	}

	.logo { 
		margin-left: 2rem;
	 }

	.logo h3 {
	 	font-size: 2rem ;
	 }

	.content {
		padding: 8em;
	}

	.project {
		margin-bottom: 2rem;
	}

	.project-description, .meta-style, .meta {
		max-width: 100%;
	}

}
