/* GLOBAL ELEMENTS 
--------------------------------------------*/
@font-face {
  font-family: 'WorkSans-Regular';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/woff2/WorkSans-Regular.woff2") format("woff2"), url("fonts/woff/WorkSans-Regular.woff") format("woff"), url("fonts/ttf/WorkSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans-Bold';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/woff2/WorkSans-Bold.woff2") format("woff2"), url("fonts/woff/WorkSans-Bold.woff") format("woff"), url("fonts/ttf/WorkSans-Bold.ttf") format("truetype"); }

* {
  margin: 0 auto;
}

html, body {
  font: 100% WorkSans-Regular, sans-serif !important;
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 100%; }

footer {
  background-color: #606060;
  color: #fff;
  margin-top: 4rem;
  padding: 2rem;
  text-align: center; }

section {
  display: block;
  max-width: 100%; }

section h2 {
  margin-bottom: 1em; }

h1 {
  font: 100% WorkSans-Bold, sans-serif !important;
  font-size: 1.2rem !important;
  text-transform: uppercase;
  letter-spacing: 0.25rem; }

h2 {
  font: 100% WorkSans-Bold, sans-serif !important;
  text-transform: uppercase;
  font-size: 1.2rem; }

h3 {
  font-size: 1.2rem !important; }

h4 {
  font-size: 0.9rem !important; }

p {
  font: 100% WorkSans-Regular, sans-serif;
  max-width: 93%;
  line-height: 1.5rem;
  font-size: 0.9rem; }

p a, cite a {
  color: #627ABE !important;
  text-decoration: underline;
  font-weight: bold; }

p a:hover, cite a:hover {
  text-decoration: underline !important;
  color: #EFC1B4 !important; }

a {
  color: #606060 !important; }

a:hover {
  color: #627ABE !important;
  text-decoration: none !important; }

strong {
  font: 100% WorkSans-Bold, sans-serif !important;
  text-transform: uppercase; }

ol {
  line-height: 2rem; }

blockquote {
  display: block;
  font-style: italic;
  font-size: 0.95em;
  border-left: 10px solid #627ABE !important;
  margin: 2em 0em; }

cite {
  display: block;
  line-height: 2rem;
  margin-left: 3rem; }

/* FOOTER
--------------------------------------------*/
footer a {
  list-style-type: none;
  color: #fff !important;
  display: inline-block; }

/* HEADER + NAVIGATION
--------------------------------------------*/
header {
  width: 100%;
  color: #EFC1B4; }

nav, .logo {
  margin-top: 2rem;
  margin-bottom: 1rem; }

nav {
  display: block;
  float: right;
  font-size: 1rem; }

a.navLink:first-of-type, a.navLink:nth-of-type(2) {
  margin-right: 2rem; }

a.navLink:hover {
  text-decoration: underline !important; }

.logo, h4 {
  font: 100% WorkSans-Bold, sans-serif !important;
  font-size: 0.25em;
  letter-spacing: 0.15rem;
  text-transform: uppercase; }

/* LANDING 
--------------------------------------------*/
.landing {
  margin: 0 auto;
  height: 15rem;
  width: 100%; }

.intro-img {
  max-width: 42%; }

#welcome {
  border-right: 1px solid #606060; }

#bgIndex {
  padding: 2em;
  background: url("imgs/index-bg-2.png") no-repeat 50% 45%;
  background-size: cover; }

#bgProject1 {
  padding: 15em;
  background: url("imgs/daretostream-bg1.jpg") no-repeat 50% 40%;
  background-size: cover; }

#bgProject2 {
  padding: 15em;
  background: url("imgs/boo-bg.png") no-repeat 50% 30%;
  background-size: cover; }

#bgProject3 {
  padding: 11em;
  background: url("imgs/2lend-bg2.png") no-repeat 50% 25%;
  background-size: cover; }

/* WORK + ABOUT SECTIONS (index.html)
--------------------------------------------*/
#work, #about {
  margin: 0 auto;
  margin-bottom: 7%;
}

#about-wrapper {
  margin-top: 1.5rem; }

.wrapper {
  margin-top: 10%;
  margin-bottom: 3%;
  max-width: 90%;
  color: #606060; }

#contact .wrapper {
  margin-top: 7rem; }

.heading {
  background-color: #EFC1B4;
  text-transform: uppercase;
  color: #fff !important;
  letter-spacing: 0.25rem;
  padding: 0.25rem 2rem; }

.project {
  margin-right: 0.5rem;
  font: 100% WorkSans-Bold, sans-serif; }

.project a {
  text-decoration: none;
  color: #606060; }

.project a:hover {
  text-decoration: none;
  /*color: $accent-color;*/ }

.img-wrapper {
  margin-left: 3rem;
  max-width: 60%;
  float: left; }

/* CONTACT SECTION (index.html)

Code adapted from Trevor L.J.M. MacIntire:
http://codepen.io/uplusion23/pen/xOJkjE
--------------------------------------------*/
.group {
  position: relative;
  margin-bottom: 4rem; }

textarea {
  outline: none !important;
  resize: none !important;
  margin-top: 4rem; }

input, textarea {
  padding-top: 2rem;
  display: block;
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 1px solid #606060;
  color: #606060;
  background: transparent;
  opacity: 0.5;
  transition: 0.2s ease; }

input:focus, textarea:focus {
  outline: none;
  opacity: 1; }

label {
  color: #606060;
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  left: 0rem;
  top: 0.5rem;
  opacity: 0.5;
  transition: 0.2s ease all; }

/* active state */
input:focus ~ label,
textarea:focus ~ label {
  top: -2rem;
  font-size: 1rem;
  color: #B1B1B1;
  opacity: 1; }

.send-btn {
  font: 100% WorkSans-Bold, sans-serif;
  color: #627ABE !important;
  text-transform: uppercase;
  letter-spacing: .25rem;
  border: 1px solid;
  padding: 1rem 2rem; }

.send-btn:hover {
  text-decoration: none;
  background-color: #627ABE !important;
  color: #fff !important;
  transition: background-color 0.9s; }

/* 
Line through text (.no-span)
Code source from Eric Rasch: 
https://codepen.io/ericrasch/pen/Irlpm
*/
.no-span {
  display: table;
  white-space: nowrap;
  text-transform: uppercase; }
  .no-span:before, .no-span:after {
    border-top: 1px solid #EFC1B4;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  .no-span:before {
    right: 1.5%; }
  .no-span:after {
    left: 1.5%; }

.socialMedia-wrapper {
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: block; }

ul {
  text-align: justify;
  line-height: 2rem;
  list-style-type: none; }

/* IMAGES (index.html)
--------------------------------------------*/
img {
  max-width: 100%; }

figcaption {
  visibility: hidden;
  position: absolute;
  top: 8em;
  left: 1em;
  z-index: 500;
  color: #fff;
  font-size: 1.2em;
  text-align: center; }

figure:hover figcaption {
  visibility: visible; }

.tint {
  position: relative;
  cursor: pointer; }

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  transition: all .3s linear; }

.tint:hover:before {
  background: rgba(98, 122, 190, 0.9); }

/* PROJECT PAGES (project1/2/3.html)
--------------------------------------------*/
.meta-style {
  margin: 0;
  margin-top: 2rem;
  width: 100%; }

.meta-p {
  font-size: 0.8rem !important; }

.process-wrapper {
  margin: 2.5rem 0;
  max-width: 75%;
  line-height: 1.8em; }

.process-img-wrapper {
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.process-imgs {
margin: 0 auto;
  padding: 2rem; 
  width: 60%; }

.img-caption {
  visibility: visible;
  position: relative;
  font-style: italic;
  top: 0rem;
  color: black;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem !important; }

.process-wrapper h3 {
  margin: 2rem 0 !important; }

.bg-heading {
  position: absolute;
  margin: 0 auto;
  margin-left: 22%;
  color: #fff;
  font: 100% WorkSans-Regular, sans-serif !important;
  font-size: 2rem !important; }

/* MEDIA QUERIES
--------------------------------------------*/
/* ~1200px */
@media only screen and (max-width: 75em) {
  #bgIndex {
    padding: 2rem 0.8rem;
    background: url("imgs/index-bg.png") no-repeat 50% 45%;
    background-size: cover; }
  #bgProject1 {
    background: url("imgs/daretostream-bg.jpg") no-repeat 50% 45%;
    background-size: cover; }
  #bgProject2 {
    padding: 10em; }
  #about-wrapper {
    margin: 0rem; }
  a.navLink:first-of-type, a.navLink:nth-of-type(2) {
    margin-right: 1rem; } }

/* ~992px */
@media only screen and (max-width: 62em) {
  .meta-style, .meta {
    max-width: 100%; }
  .contact-blurb {
    margin-top: 3rem; }
  .img-wrapper {
    margin-left: 5rem;
    max-width: 50%;
    margin-bottom: 2rem; } }

/* ~768px */
@media only screen and (max-width: 48em) {
  footer {
    width: 100%; }
  section {
    width: 100%; }
  h1 {
    margin: 0 !important;
    font-size: 0.85rem !important;
    width: 70%; }
  p {
    margin-top: 1rem; }
  nav {
    font-size: 0.85rem; }
  a.navLink:first-of-type, a.navLink:nth-of-type(2) {
    margin-right: 0.7rem; }
  .logo h4 {
    font-size: 1rem; }
  #bgProject1 {
    padding: 6rem; }
  #bgProject2 {
    padding: 8em; }
  .heading {
    padding-left: 1rem;
    font-size: 0.9rem !important; }
  .form {
    /*margin-top: -0.5rem; */ }
  .project {
    margin-bottom: 2rem; }
  .project-description, .meta-style, .meta, .process-wrapper {
    max-width: 100%; }
  .process-imgs {
    padding: 1em; }
  .img-caption {
    margin: 0;
    top: 0; } }

/* ~400px */
@media only screen and (max-width: 25em) {
  #bgProject3 {
    background: url("imgs/2lend-bg3.png") no-repeat 38% 45%;
    background-size: cover; }
  nav {
    font-size: 0.8rem; } }
