/* GLOBAL ELEMENTS 
--------------------------------------------*/

* {
	margin: 0 auto;
	/*border: 1px solid red;*/
}

html, body {
	margin: 0 auto;
	overflow-x: hidden;
	max-width: 100%;
}

section {
	display: block;
	margin-top: 1em;
}

h1 {
	text-align: center;
	font-size: 4em !important;
}



/* FIXED ELEMENTS
--------------------------------------------*/

#top {
	top: 0;
}

#bottom {
	bottom: 0;
}

#top, #bottom {
	height: 1.5rem;
	position: fixed;
	left: 1.5rem;
	right: 1.5rem;
	display: block;
	background-color: #1e1e1e;
	z-index: 300;
}

#left {
	left: 0;
	bottom: 0;
	top: 0;
	width: 1.5rem;
	position: fixed;
	display: block;
	background-color: #1e1e1e;
	z-index: 300;
}

#right {
	right: 0;
	width: 1.5rem;
	position: fixed;
	top: 0;
	bottom: 0;
	display: block;
	background-color: #1e1e1e;
	z-index: 300;
}

/* HEADER + NAVIGATION
--------------------------------------------*/

header { 
	padding: 0;
}

.logo, nav {
	z-index: 500;
	margin-top: 3.5em;
	margin-bottom: 2em;
}

.logo {
	display: block;
	margin-left: 4em;
}

nav { 
	display: block;
	float: right;	
	margin-right: 4em;

} 

a.navLink {
	margin-right: 2rem;
}


/* LANDING
--------------------------------------------*/

.landing {
	display: table;
	margin: auto;
	width: 75%;
	height: 100%;
	background: url('imgs/koi-landing.jpg') no-repeat 50% 60%;
	background-size: cover;
}

.content {
	padding: 14em;
	margin: 0 auto;
	text-align: center;
}

/* WORK
--------------------------------------------*/

.work {
	max-width: 75%;
}



/* Media Queries
--------------------------------------------*/

/* ~1200px */
@media only screen and (max-width: 75em) {
	 .content { 
		padding: 10em;
	}	
}

/* ~992px */
@media only screen and (max-width: 62em) {
	 .content { 
		padding: 10em;
	}	

	/*work {
		max-width: 80%;
	}*/
}

/* ~688px */
@media only screen and (max-width: 43em) {
	#top, #bottom, #right, #left {
		visibility: hidden;
	}	


	.logo { 
		margin-left: 2rem;
	 }

	.logo h3 {
	 	font-size: 2rem ;
	 }

	nav {
		margin-right: 1.5rem;
	}

	a.navLink{
		margin-right: 0.7rem;
	}

	.content {
		padding: 7em;
	}

	h1 {
		font-size: 3em !important;
	}

}
