/* GLOBAL ELEMENTS 
--------------------------------------------*/

* {
	margin: 0 auto;
	/*border: 1px solid red;*/
}

html, body {
	margin: 0 auto;
	overflow-x: hidden;
	max-width: 100%;	
}

footer {
	width: 100%;
	margin-top: 10rem;
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: #eee;
	text-align: center;
}

section {
	display: block;
	margin-top: 2em;
	margin-bottom: 3em;
	width: 75%;
}

section h2 {
	margin-bottom: 1em;
}

h1 {
	text-align: center;
	font-size: 4em !important;
}


/* HEADER + NAVIGATION
--------------------------------------------*/

header { 
	width: 100%;
	background-color: white;
}

nav, .logo {
	margin-top: 2.5rem;
	margin-bottom: 2rem;
}

nav { 
	display: block;
	float: right;	
	margin-right: 2.5em;
} 

a.navLink {
	margin-right: 2rem;
}

.logo {
	display: block;
	margin-left: 4em;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}


/* LANDING 
--------------------------------------------*/

.landing {
	margin: auto;
	margin-top: 1rem;
	height: 50%;
	width: 100%;
}

#bgIndex {
	padding: 8em;
	background: url('imgs/index-bg.png') no-repeat 50% 75%;
	background-size: cover;
}

#bgProject1 {
	padding: 15em;
	background: url('imgs/daretostream-bg1.jpg') no-repeat 50% 40%;
	background-size: cover;
}

#bgProject2 {
	padding: 11em;
	background: url('imgs/2lend-bg2.png') no-repeat 50% 25%;
	background-size: cover;
}

.content {
	margin: 0 auto;
	text-align: center;
	margin-top: 3rem;
}

/* WORK (index.html)
--------------------------------------------*/
.projects-wrapper {
	margin-top: 5rem;
}

.project {
	/*border: 1px solid black; */
	margin-right: 0.5rem;
}

.heading {
	text-align: center;
	text-transform: uppercase;
}

/* IMAGES (index.html)
--------------------------------------------*/

img {
	max-width: 100%;
}

figcaption {
	visibility: hidden;
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 500;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
}

figure:hover figcaption {
	visibility: visible;
}

.tint {
	position: relative;
	cursor: pointer;
	box-shadow: rgba(0,0,0,.2) 3px 3px 5px;
}

.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
 	bottom: 0;
  	left: 0;
  	right: 0;
	background: none;
	transition: all .3s linear;
}

.tint:hover:before { 
	background: rgba(80, 154, 186, 0.87); 
}



/* PROJECTS
--------------------------------------------*/

#heading-2lend {
	color: #fff;
}

.project-description {
	line-height: 3.5rem;
	width: 75%;
	margin-left: 0;
	margin-bottom: 2em;
}

.meta-style {
	display: block;
	max-width: 100%;
	padding: 1rem 0; 
	line-height: 2.5rem;
}

.meta {
	max-width: 100%;
}

.process-wrapper {
	margin: 0;
	max-width: 80%;
	line-height: 1.8em;
}

.process-img-wrapper {
	background-color: #e0f1ff;
	max-width: 100%;
	margin: 2rem 0;
}

.process-imgs {
	padding: 2rem;
}

.img-caption {
	visibility: visible;
	position: relative;
	top: 0rem;
	color: black;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
}

/* ABOUT / CONTACT 
--------------------------------------------*/

#about-wrapper {
	max-width: 55%;
	text-align: center;
}


/* Media Queries
--------------------------------------------*/

/* ~1200px */
@media only screen and (max-width: 75em) {
	 #bgIndex { 
		padding: 5em;
	}	

	#bgProject1 {
		padding: 10em;
	}

	#bgProject2 {
		padding: 10em;
	}

	.logo {
		margin-left: 3.2rem;
	}

	nav {
		margin-right: 1rem;
	}

	.project-description {
		margin-left: 0;
		width: 83%;
	}


}

/* ~992px */
@media only screen and (max-width: 62em) {
	 .meta-style, .meta {
	 	max-width: 100%;
	 }
}

/* ~768px */
@media only screen and (max-width: 48em) {
	#top, #bottom, #right, #left {
		visibility: hidden;
	}

	footer {
		width: 100%;
	}

	section {
		width: 90%;
	}

	h1 {
		font-size: 2.5em !important;
	}

	h2 {
		font-size: 1.5em !important;
	}

	nav {
		margin-right: 1.5rem;
	}

	a.navLink{
		margin-right: 0.7rem;
	}

	.logo { 
		margin-left: 2rem;
	 }

	.logo h3 {
	 	font-size: 2rem ;
	 }

	#bgIndex {
		padding: 5em;
	}

	#bgProject1 {
		padding: 8em;
	}

	#bgProject2 {
		padding: 8em;
	}

	.project {
		margin-bottom: 2rem;
	}

	.project-description, .meta-style, .meta, .process-wrapper {
		max-width: 100%;
	}

	.process-imgs { 
		padding: 1em;
	}

	.img-caption{
		margin: 0;
		top: 0;
	}

	#heading-2lend {
		margin-left: 6rem;
	}

}
